@{
    ViewData["Title"] = "Verify Code !";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            background-color: #f8f9fa;
        }

       .form-box {
    display: flex; 
    flex-direction: column; 
    gap: 7px; 
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#ConfirmBtn {
    padding-top: 5px;
    width: 100%;
    margin-top: 10px;
}

    </style>

</head>
<body>

    <div class="form-container">
        <div class="form-box">
            <h2 class="text-center">Mã xác nhận !</h2>

            <form method="post" asp-action="VerifyCode">
                <div class="form-group">
                    <label for="To">Hãy nhập mã trong hòm thư của bạn !</label>
                    <input type="text" class="form-control" id="your code" name="Mã code" required />
                </div>
                <button id="ConfirmBtn" type="submit" class="btn btn-primary btn-block"> Xác nhận !</button>
                <button asp-controller="KhachHang" asp-action="DangNhap" id="ConfirmBtn" type="submit" class="btn btn-primary btn-block"> Đăng Nhập !</button>
            </form>
        </div>
    </div>

</body>
</html>
