<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        .form-box {
            display: flex;
            flex-direction: column;
            gap: 7px;
            width: 100%;
            max-width: 400px;
            padding: 30px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .ConfirmBtn {
            padding-top: 5px;
            width: 100%;
            margin-top: 10px;
        }

        #ConfirmBtn:disabled {
            padding-top: 5px;
            width: 100%;
            margin-top: 10px;
            color: gray;
            cursor: not-allowed;
        }

        #btnSpectial {
            display: none;
        }
    </style>
</head>
<body>

    <div class="form-container">
        <div class="form-box">
            <h2 class="text-center">Mã xác nhận !</h2>

            <form method="post" asp-action="VerifyCode">
                <div class="form-group">
                    <label for="your-code">Hãy nhập mã trong hòm thư của bạn !</label>
                    <input type="text" class="form-control" id="your-code" name="VerifyCode" />
                </div>
                <button id="btnSpectial" type="submit" class="btn btn-primary btn-block ConfirmBtn"> Xác nhận !</button>
            </form>
            <form asp-controller="KhachHang" asp-action="DangNhap" method="get">
                <button type="submit" class="btn btn-primary btn-block  ConfirmBtn">Đăng Nhập !</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#your-code").on("input", function () {
                const inputValue = $(this).val().trim();
                if (inputValue) {
                    $("#btnSpectial").fadeIn(2000);
                } else {
                    $("#btnSpectial").fadeOut(2000);
                }
            });
        });
    </script>
</body>
</html>
