@model IEnumerable<EcomemerceASP_NET.ViewModels.KhachHangVM>


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h4 class="card-title">Add User</h4>
            </div>

        </div>
        <div class="card-body">
          

            <div class="table-responsive">
                <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="add-row"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Họ Tên: activate to sort column descending" style="width: 200px;">Họ Tên</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Ngày sinh: activate to sort column ascending" style="width: 200px;">Ngày sinh</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Địa chỉ: activate to sort column ascending" style="width: 300px;">Địa chỉ</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Số điện thoại: activate to sort column ascending" style="width: 150px;">Số điện thoại</th>
                            <th class="sorting" tabindex="0" aria-controls="add-row" rowspan="1" colspan="1" aria-label="Thao Tác: activate to sort column ascending" style="width: 150px;">Thao Tác</th>
                        </tr>
                    </thead>

                               
                                <tbody>
                                    @* Xử lý vòng lặp *@
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Duy Nhật</td>
                                        <td>2/9/2009</td>
                                        <td>Bình Định</td>
                                        <td>0xxxxxxxxxxx</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                        </tr>
                        <a href="d:\doannet\ecommerce_asp.net\ecomemerceasp_net\views\admin\manageuser.cshtml">d:\doannet\ecommerce_asp.net\ecomemerceasp_net\views\admin\manageuser.cshtml</a>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Trung Nghĩa</td>
                                        <td>2/9/2009</td>
                                        <td>Phú Yên</td>
                                        <td>0xxxxxxxxx</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>