@model IEnumerable<EcomemerceASP_NET.ViewModels.HoaDonVM>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center mt-2">
                <h4 class="card-title">Lịch sử thanh toán</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="ql-lichSuThanhToan" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1">Mã hóa đơn</th>
                                    <th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1">Họ tên</th>
                                    <th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1">Đơn giá</th>
                                    <th class="sorting" tabindex="0" aria-controls="basic-datatables" rowspan="1" colspan="1">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>

                                @* Lặp qua danh sách dữ liệu *@
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr role="row">
                                            <td>@item.MaHd</td>
                                            <td>@item.HoTen</td>
                                            <td>@item.DonGia</td>
                                            <td>@item.SoLuong</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="text-center">Không có dữ liệu</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <!-- DataTables Bootstrap Integration -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Bootstrap Integration -->
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ql-lichSuThanhToan').DataTable({
                language: {
                    search: "Tìm kiếm:",
                    lengthMenu: "Hiển thị _MENU_ dòng",
                    zeroRecords: "Không tìm thấy kết quả",
                    info: "",
                    infoFiltered: "",
                    paginate: {
                        first: "&#60;&#60;",
                        last: "&#62;&#62;",
                        next: "&#8594;",
                        previous: "&#8592;"
                    }
                },
                paging: true,
                ordering: true,
                info: true
            });
        });
    </script>
</div>